# DS-SF-32 | Homework 02: The `pandas` Library

In this homework, we will be exploring the `Ozone` dataset using `pandas`.

> ## Question 1.  Import `pandas` (as `pd`).

In [1]:
print "hello"

hello

In [17]:
import os
import pandas as pd

# TODO

pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [19]:
df = pd.read_csv('/Users/michaelhatcher/Desktop/Working/Data_Science/Data_science-GA/MHatcher_Homework/dataset/ozone.csv')

> ## Question 2.  Display a few lines of the dataset to the screen.

In [21]:
# TODO
df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

> ## Question 3.  How many observations (i.e., rows) are in this dataset?

In [22]:
# TODO
df.shape[0]

153

> ## Question 4.  Print the name of each column in the dataset, one name per line.

In [25]:
# TODO
for i in df.columns:
    print i

Ozone
Solar.R
Wind
Temp
Month
Day

> ## Question 5.  How many variables (i.e., columns) are in this dataset?

In [28]:
# TODO
len(df.columns)

6

> ## Question 6.  Extract the first 2 rows of the dataset and print them to the console.  What does the output look like?

In [26]:
# TODO the output looks like floats and integers
df.head(n=2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

> ## Question 7.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [29]:
# TODO the output looks like floats and integers
df.tail(n=2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

> ## Question 8.  What is the value of Ozone in the 47th row?

In [36]:
# TODO
df.iloc[46,0]

21.0

> ## Question 9.  How many missing values are in the `Ozone` column of this dataset?

In [37]:
# TODO
df.isnull().sum()

Ozone      37
Solar.R     7
Wind        0
Temp        0
Month       0
Day         0
dtype: int64

> ## Question 10.  What is the mean of the `Ozone` column in this dataset?  Exclude missing values (coded as `NaN`) from this calculation.

In [38]:
# 42.129310 is the mean of the Ozone column
df.describe()

            Ozone     Solar.R        Wind        Temp       Month         Day
count  116.000000  146.000000  153.000000  153.000000  153.000000  153.000000
mean    42.129310  185.931507    9.957516   77.882353    6.993464   15.803922
std     32.987885   90.058422    3.523001    9.465270    1.416522    8.864520
min      1.000000    7.000000    1.700000   56.000000    5.000000    1.000000
25%     18.000000  115.750000    7.400000   72.000000    6.000000    8.000000
50%     31.500000  205.000000    9.700000   79.000000    7.000000   16.000000
75%     63.250000  258.750000   11.500000   85.000000    8.000000   23.000000
max    168.000000  334.000000   20.700000   97.000000    9.000000   31.000000

> ## Question 11.  Extract the subset of rows of the dataset where `Ozone` values are above 31 and `Temp` values are above 90.

In [49]:
# TODO
new_df = df[(df.Ozone>31)&(df.Temp>90)]
new_df

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30
122   85.0    188.0   6.3    94      8   31
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4

> ## Question 12.  What is the mean of `Solar.R` in this subset?

In [47]:
# 185.931507 is the mean of Solar.R
df.describe()

            Ozone     Solar.R        Wind        Temp       Month         Day
count  116.000000  146.000000  153.000000  153.000000  153.000000  153.000000
mean    42.129310  185.931507    9.957516   77.882353    6.993464   15.803922
std     32.987885   90.058422    3.523001    9.465270    1.416522    8.864520
min      1.000000    7.000000    1.700000   56.000000    5.000000    1.000000
25%     18.000000  115.750000    7.400000   72.000000    6.000000    8.000000
50%     31.500000  205.000000    9.700000   79.000000    7.000000   16.000000
75%     63.250000  258.750000   11.500000   85.000000    8.000000   23.000000
max    168.000000  334.000000   20.700000   97.000000    9.000000   31.000000

> ## Question 13.  What is the mean of `Temp` when `Month` is equal to 6?

In [58]:
# The mean of temp when month is 6 is 30 
new2_df = df[df.Month == 6]
new2_df.describe()

           Ozone     Solar.R       Wind       Temp  Month        Day
count   9.000000   30.000000  30.000000  30.000000   30.0  30.000000
mean   29.444444  190.166667  10.266667  79.100000    6.0  15.500000
std    18.207904   92.882975   3.769234   6.598589    0.0   8.803408
min    12.000000   31.000000   1.700000  65.000000    6.0   1.000000
25%    20.000000  127.000000   8.000000  76.000000    6.0   8.250000
50%    23.000000  188.500000   9.700000  78.000000    6.0  15.500000
75%    37.000000  270.750000  11.500000  82.750000    6.0  22.750000
max    71.000000  332.000000  20.700000  93.000000    6.0  30.000000

> ## Question 14.  What was `Ozone`'s maximum in the month of May?

In [55]:
# TODO
new3_df = df[df.Month == 6]

Ozone      168.0
Solar.R    238.0
Wind         3.4
Temp        81.0
Month        8.0
Day         25.0
Name: 116, dtype: float64